* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

.contenedor {
    overflow: hidden;
    border: 1px solid red;
    width: 90%;
    max-width: 1000px;
    margin: auto;

    
}

/*--Estilos Header--*/
header {
    width: 100%;
    border: 1px solid blue; 
    background: url('../imagenes/cafe-granos.webp') #ff0000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;

}

header .contenedor {
    position: relative;
    height: 700px;
}

header .menu {
    width: 100%;
    text-align: right;
}

header .menu a {
    color: aliceblue;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}

header .menu a:hover {
    color: blueviolet;
    text-decoration: underline;
}

header .texto {
    width: 100%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    margin: -52px;

}


header .texto .nombre{
font-size: 50px;
font-weight: 600;

}

header .texto .nombre span{
font-weight: 300;

}

header .texto h3{
    font-weight: 300;
    font-size: 25px;
    font-family: cursive;
}

/*---MAIN---*/

.main{
    background: url(../imagenes/blanca.jpg);
background-repeat: repeat;


}

.main .acercade .contenedor{

overflow: visible;
position: relative;

}

.main .acercade .foto{
    width: 80%;
    position: absolute;
    left: 0;
    top: -50px;
    z-index: 0;
    box-shadow: 0px 0px 50px rgba(16, 119, 145, 0.35);
}

.main .acercade .foto img{
    vertical-align: top;
    width: 100%;
}

.main .acercade article{
    background: aliceblue;
    padding: 40px;
    width: 50%;
    position: relative;
    top: -80px;
    z-index: 1;
    float: right;
    box-shadow: 50px 50px 15px rgba(0, 0, 0, 0.35);
}

.main .acercade article h1{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .acercade article p{
    line-height: 28px;
    margin-bottom: 15px;

}


/*-----------secccion mennu---------*/

.main .menu{
    padding-top: 570px;
    margin-bottom: 50px;
}

.main .Menu .titulo {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.main .Menu .contenedor-menu1,
.main .Menu .contenedor-menu2{
border: 1px solid #000;
background: transparent;
padding: 10px;
overflow: hidden;
}

.main .Menu article{
    width: 90%;
    float: left;
    padding: 20px;
    color: rgb(8, 66, 68);

} 

.main .Menu .categoria{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.main .Menu .platillo{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #8f1bac;
    overflow: hidden;
}

.main .Menu .nombre{
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
    color: rgb(143, 99, 18);
}
.main .Menu .precio{
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
    color: rgb(199, 50, 80);
}

.main .Menu .descripcion{
    font-size: 16px;
    color: #1b6963;
    clear:both;
}
/*------galeria--------*/
.main .galeria{
    overflow: hidden;
}

.main .galeria .fotos{
    width: 25%;
    float: left;
    padding: 2px;
    overflow: hidden;
}
.main .galeria .fotos img{
    width: 100%;
    vertical-align: bottom;
    opacity: .7;
}

.main ,.galeria .fotos img:hover{
    opacity: 1;
    
}











